/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@font-face {
font-family: 'Avenir LT Std 85 Heavy';
font-style: normal;
font-weight: normal;
src: local('Avenir LT Std 85 Heavy'), url('../font/AvenirLTStd-Heavy.woff') format('woff');
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Avenir LT Std 85 Heavy', sans-serif;
    letter-spacing: -2px;
}

#header {
    margin: 20px 0;
    color: #2c2c2c;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

#header .col{
    padding-top: 15px;
    padding-bottom: 15px;
}
#header .center-col{
    border-right: 4px #1e1e1e solid;
    border-left: 4px #1e1e1e solid;
    padding-top: 30px !important;
}

#header span {
    font-size: 0.8em;
}

.fb-icon {
    width: 36px;
    height: 30px;
    margin-right: 15px;
}

.lang-icon {
    width: 20px;
    height: 20px;
    margin-right: 2px;
    margin-bottom: 4px;
}

.mail-icon {
    width: 20px;
    height: 15px;
    margin-right: 2px;
}

.phone-icon {
    width: 14px;
    height: 14px;
    margin-right: 2px;
}

#header .center-col a{
    color: #1e1e1e;
}

.brand-logo {
    margin: 0 0 0 15%;
    font-size: 0;
}

.brand-logo img{
    vertical-align: top;
}

.nav-wrapper ul {
    margin-right: 10%;
}
.nav-wrapper ul li a{
    font-weight: bold;
}

.navbar-fixed {
    position: absolute;
    top: 0;
}

#phones {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.section {
    padding-top: 90px;
    margin-bottom: 40px;
}

p {
    font-size: 1.2em;
}

/* ==========================================================================
   INICIO
   ========================================================================== */

#bienvenido h3 {
    margin-bottom: 30px;
}

#emp-img {
    margin-top: 50px;
}

.fixed-top {
    margin-top: 128px !important;
}

.sfixed-top {
    margin-top: 100px !important;
}

.xsfixed-top {
    padding-top: 100px !important;
}

#img-8 {
    margin-top: 10em;
}

#estandares h3{
    margin: 0;
}


    



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 1250px) {
    .brand-logo img{
        height: 85px;
        width: auto;
    }

    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
    height: 85px;
    line-height: 85px
}

@media only screen and (max-width: 1150px) {
    .nav-wrapper ul {
        margin-right: 10;
    }
    .brand-logo {
        margin: 0 0 0 5%;
    }
}

@media only screen and (max-width: 992px) {
    .brand-logo {
        margin: 0;
    }
    .button-collapse {
        margin-left: 20px;
    }
}

@media only screen and (max-width: 600px) {
    #header {
        margin: 10px 0;
        display: block;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }
    #header .center-col{
        border-right: none;
        border-left: none;
        padding-top: 15px !important;
        padding-bottom: 20px !important;
    }
    #intranet {
        float: none;
        text-align: center;
        padding-bottom: 0px !important;
    }
    #phones {
        padding-bottom: 10px !important;
    }
    .top-section {
        padding-top: 30px;
    }
    #img-8 {
    margin-top: 0;
    }
    section .row {
        display: block !important;
    }

    #img-paises {
    margin-top: 2em;
    }
}

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}